TD {
	FONT-SIZE: 9pt; COLOR: #4a4a4a; LINE-HEIGHT: 1.2; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-ALIGN: justify
}
.gray_b {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; BACKGROUND-COLOR: #c7f1f9
}
A:link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.gray {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
A:link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.grays {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
A:link {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 11px; COLOR: #ff9900; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.blacks {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
A:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 11px; COLOR: #ff9900; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.black_b {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.black_bc {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; BACKGROUND-COLOR: #c7f1f9
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.black {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.blue {
	FONT-SIZE: 12px; COLOR: #006699; LINE-HEIGHT: 20px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
A:link {
	FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.white {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
A:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.red {
	FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: 20px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
A:link {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: µ¸¿ò; TEXT-DECORATION: none
}
.bbs {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
A:link {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #009ba9; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
A.dgy:link {
	FONT-SIZE: 12px; COLOR: #1978ca; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: underline
}
A.dgy:visited {
	FONT-SIZE: 12px; COLOR: #1978ca; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: underline
}
A.dgy:active {
	FONT-SIZE: 12px; COLOR: #1978ca; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: underline
}
A.dgy:hover {
	FONT-SIZE: 12px; COLOR: #ff6622; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: underline
}
A.white:link {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.white:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.white:active {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.white:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: underline
}
A.blue:link {
	FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.blue:visited {
	FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.blue:active {
	FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.blue:hover {
	FONT-SIZE: 12px; COLOR: #ff6622; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.red:link {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.red:visited {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.red:active {
	FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.red:hover {
	FONT-SIZE: 12px; COLOR: #ff6622; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.sbl:link {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.sbl:visited {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.sbl:active {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
A.sbl:hover {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; TEXT-DECORATION: none
}
.fmselect {
	BORDER-RIGHT: #969696 1px solid; BORDER-TOP: #969696 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #969696 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #969696 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
.fmnoselect {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; BACKGROUND-COLOR: #e8e8e8
}
.fmtext {
	BORDER-RIGHT: #969696 1px solid; BORDER-TOP: #969696 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #969696 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #969696 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 17px
}
.fmtextlogin {
	BORDER-RIGHT: #d6d2cc 1px solid; BORDER-TOP: #d6d2cc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #d6d2cc 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #d6d2cc 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 17px; BACKGROUND-COLOR: #e7e5e1
}
.fmtext_g {
	BORDER-RIGHT: #f7f7f7 1px solid; BORDER-TOP: #f7f7f7 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #f7f7f7 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #f7f7f7 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #f7f7f7
}
.fmtext_g_r {
	BORDER-RIGHT: #f7f7f7 1px solid; BORDER-TOP: #f7f7f7 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #f7f7f7 1px solid; COLOR: #ed1c24; PADDING-TOP: 2px; BORDER-BOTTOM: #f7f7f7 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #f7f7f7
}
.fmtext_w {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.fmtext_wr {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
.fmtext_wc {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.fmtext_wb {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ffffff 1px solid; COLOR: #474747; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.fmtext_b {
	BORDER-RIGHT: #109fe9 1px solid; BORDER-TOP: #109fe9 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #109fe9 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #109fe9 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #109fe9; TEXT-ALIGN: center
}
.fmnotext {
	BORDER-RIGHT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #d9d9d9 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #d9d9d9 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: transparent
}
.fmtext_right {
	BORDER-RIGHT: #969696 1px solid; BORDER-TOP: #969696 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #969696 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #969696 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; TEXT-ALIGN: right
}
.fmnotext_right {
	BORDER-RIGHT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #d9d9d9 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #d9d9d9 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: right
}
.fmnotext_center {
	BORDER-RIGHT: #d9d9d9 1px solid; BORDER-TOP: #d9d9d9 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #d9d9d9 1px solid; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #d9d9d9 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
.fmtextarea {
	BORDER-RIGHT: #969696 1px solid; BORDER-TOP: #969696 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #969696 1px solid; COLOR: #333333; LINE-HEIGHT: 150%; BORDER-BOTTOM: #969696 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
.fmtextarea_sd {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 150%; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica
}
.fmnotextarea {
	BORDER-RIGHT: #cbcbcb 1px solid; BORDER-TOP: #cbcbcb 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cbcbcb 1px solid; COLOR: #333333; LINE-HEIGHT: 150%; BORDER-BOTTOM: #cbcbcb 1px solid; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; BACKGROUND-COLOR: #f3f3f3
}
.fmnotextarea_sd {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 150%; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; BACKGROUND-COLOR: #f3f3f3
}
.fmnotext_trans {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BORDER-LEFT: 0px; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: transparent
}
.fmnotext_center_trans {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BORDER-LEFT: 0px; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
.fmnotext_right_trans {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BORDER-LEFT: 0px; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; FONT-FAMILY: ±¼¸²,µ¸¿ò,Seoul,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: transparent; TEXT-ALIGN: right
}
BODY {
	SCROLLBAR-FACE-COLOR: #e3e3e3; SCROLLBAR-HIGHLIGHT-COLOR: #e3e3e3; SCROLLBAR-SHADOW-COLOR: #e4e4e4; SCROLLBAR-3DLIGHT-COLOR: #f5f5f5; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #eeeeee; SCROLLBAR-DARKSHADOW-COLOR: #b7b7b7
}
.cthead1_s {
	FONT-SIZE: 12px; COLOR: #585858; FONT-FAMILY: µ¸¿ò, arial; BACKGROUND-COLOR: #d8e9f4; TEXT-ALIGN: center
}
.cthead1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: µ¸¿ò, arial; HEIGHT: 22px; BACKGROUND-COLOR: #109fe9
}
.cthead1_bold {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 1px; FONT-FAMILY: µ¸¿ò, arial; HEIGHT: 20px; BACKGROUND-COLOR: #109fe9
}
.ctrow1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #363636; PADDING-TOP: 1px; FONT-FAMILY: µ¸¿ò, Arial; HEIGHT: 22px; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
.ctrow1_lh2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; COLOR: #363636; LINE-HEIGHT: 150%; PADDING-TOP: 2px; FONT-FAMILY: µ¸¿ò, Arial; HEIGHT: 22px; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
.ctrow1_center {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #363636; PADDING-TOP: 1px; FONT-FAMILY: µ¸¿ò, Arial; HEIGHT: 22px; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: center
}
.ctrow1_right {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #363636; PADDING-TOP: 1px; FONT-FAMILY: µ¸¿ò, Arial; HEIGHT: 22px; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: right
}
.ctrow1_lh {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; COLOR: #363636; LINE-HEIGHT: 150%; PADDING-TOP: 0px; FONT-FAMILY: µ¸¿ò, Arial; HEIGHT: 22px; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: left
}
.ctrow1_nop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #363636; FONT-FAMILY: µ¸¿ò, Arial; TEXT-ALIGN: left
}
.ctrow2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle; COLOR: #363636; LINE-HEIGHT: 150%; PADDING-TOP: 10px; FONT-FAMILY: µ¸¿ò, Arial; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.bgcontent {
	BACKGROUND-COLOR: #d1d0ce
}
.bgdcontent {
	BACKGROUND-COLOR: #777777
}
.ftrqfield {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: "Verdana"
}
.ftrqfield_g {
	FONT-SIZE: 12px; COLOR: #363636; FONT-FAMILY: "Verdana"
}
.cgroup_body {
	PADDING-RIGHT: 5px; BORDER-TOP: #d1d0ce 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #d1d0ce 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.tgroup_body {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; BORDER-BOTTOM: #d1d0ce 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.sfgroup_body {
	PADDING-RIGHT: 5px; BORDER-TOP: #a3a3a3 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: bottom; COLOR: #474747; PADDING-TOP: 5px; FONT-FAMILY: µ¸¿ò, Arial; BACKGROUND-COLOR: #efefef
}
.Undergroup_body {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: #d1d0ce 1px solid; FONT-FAMILY: µ¸¿ò, Arial
}
.ctrow_noval {
	BACKGROUND-COLOR: #dfe2e8
}
.ctrow_val {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #363636; FONT-FAMILY: µ¸¿ò, Arial; HEIGHT: 22px; BACKGROUND-COLOR: #def2fa; TEXT-ALIGN: right
}
.ctrow_val_center {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #363636; FONT-FAMILY: µ¸¿ò, Arial; HEIGHT: 22px; BACKGROUND-COLOR: #def2fa; TEXT-ALIGN: center
}
.ctrow_row_h {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; COLOR: #363636; PADDING-TOP: 3px; FONT-FAMILY: µ¸¿ò, Arial; HEIGHT: 55px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.space_b {
	HEIGHT: 10px
}
.space_s {
	HEIGHT: 3px
}
.space_bt {
	HEIGHT: 7px
}
.space_bb {
	HEIGHT: 8px
}
.space_st {
	HEIGHT: 16px
}
.space_ss {
	HEIGHT: 14px
}
.space_sd {
	HEIGHT: 11px
}
